.legend{
    background-color: #ffffff;
    margin:20px;
    padding: 20px;
    
    
}

img{
    width: 20px;
    height: 20px;
    
}

.uk{
    position: relative;
    top: 5px;
    margin-left:5px;
    margin-right: 5px;
}
.ukdiv{
    float:right;
}